/* 
/* TEMPLATE FOR STYLINGS */

/* Media Query Styling For Desktop Device */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.BestAppleBody{
  width: 100%;
  height: 47%;
}

.BestAppleTop{
  width: 100%;
  height: 5%;
  background: #dcf5f8;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 75px;
  color: #3F51B5;
  font-weight: 600;
  font-size: 18px;
}

.BestAppleDown{
  width: 100%;
  height: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.BestAppleDownWrap{
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.BestAppleDownWrap1{
  width: 100%;
  height: 45%;
  display: flex;
  justify-content: space-between;
}
.BestAppleDownWrap2{
  width: 100%;
  height: 45%;
  display: flex;
  justify-content: space-between;
}

.BestAppleItem1{
  width: 30%;
  height: 100%;
}

.BestAppleItem1ImgDiv{
  width: 100%;
  height: 60%;
  background: rgb(210, 250, 247);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px 7px 0 0;
}
.BestAppleItem1ImgDiv img{
  width: 80%;
  height: 80%;
  object-fit: contain;
}

.BestAppleItem1DetDiv{
  width: 100%;
  height: 40%;
  padding: 10px;
  border-radius: 0 0 7px 7px;
  background: #f1f1f1;
}

.BestAppleItem1Name{
  width: 100%;
  height: 20%;
  display: flex;
  align-items: center;
}

.BestAppleItem1PriceDiv{
  width: 100%;
  height: 30%;
  display: flex;
}

.BestAppleItem1PriceDivLeft{
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
}

.BestAppleItem1PriceDivRight{
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.BestAppleItem1PriceDivRight .AiFillHeart{
  width: 30px;
  height: 30px;
  cursor: pointer;
  color: red;
}

.BestAppleItem1PriceDivRate{
  width: 40%;
  height: 20%;
  display: flex;
  justify-content: space-between;
}

.BestAppleItem1PriceDivBtn{
  width: 100%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.BestAppleItem1PriceDivBtn button{
  width: 100%;
  height: 100%;
  background: #3F51B5;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
}




/* End of Media Query Styling For Desktop Device */

/* Media Query Styling for Tablet Device */

@media only screen and (max-width: 1024px){

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


}

/* End of Media Query Styling for Tablet Device */

/* Media Query Styling for Mobile Device */

@media only screen and (max-width: 450px) {

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


}

/* End of Media Query Styling for Mobile Device */


/* Media Query Styling for Mobile Device */

@media only screen and (max-width: 351px) {

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


}

/* End of Media Query Styling for Mobile Device */ 