/* 
/* TEMPLATE FOR STYLINGS */

/* Media Query Styling For Desktop Device */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.ForgetPwdBody {
  width: 100%;
  height: 100vh;
  background: #f5f5f5;
  display: flex;
  justify-content: center;
  font-family: Verdana;
}

.ForgetPwdWrap {
  width: 90%;
  height: 100%;
}

.ForgetPwdLogoDiv {
  width: 100%;
  height: 8%;
}
.ForgetPwdLogoDiv img{
  width: 15%;
  height: 100%;
}

.ForgetPwdContentDiv {
  width: 100%;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.ForgetPwdContentDivWrap{
  width: 60%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: #fff;
}
.ForgetPwdContentDiv h1{
  font-size: 30px;
  margin-bottom: 20px;
}
.ForgetPwdContentDivWrap p{
  text-align: center;
  font-size: 14px;
  width: 80%;
}

.ForgetPwdContentInputs{
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.ForgetPwdContentInputs input{
  width: 50%;
  height: 35px;
  padding-left: 10px;
  border: 1px solid #3F51B5;
  border-radius: 5px;
  outline: none;
}
.ForgetPwdContentInputs input:active{
  border: 1px solid #3F51B5;
}

.ForgetPwdContentBtn {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ForgetPwdContentBtn button{
  background: #3F51B5;
  width: 150px;
  height: 45px;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}
.ForgetPwdContentBtn button:disabled{
  background: #8593d7;
  cursor: not-allowed;
}

.ForgetPwdBackDiv{
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.ForgetPwdBackDiv button{
  background: #fff;
  width: 150px;
  height: 45px;
  border: 1px solid #3F51B5;
  border-radius: 5px;
  color: #3F51B5;
  font-size: 16px;
  cursor: pointer;
}


/* End of Media Query Styling For Desktop Device */

/* Media Query Styling for Tablet Device */

@media only screen and (max-width: 1024px) {


  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  


}

/* End of Media Query Styling for Tablet Device */

/* Media Query Styling for Mobile Device */

@media only screen and (max-width: 450px) {


  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .ForgetPwdBody {
    width: 100%;
    height: 100vh;
    background: #f5f5f5;
    display: flex;
    justify-content: center;
    font-family: Verdana;
  }
  
  .ForgetPwdWrap {
    width: 90%;
    height: 100%;
  }
  
  .ForgetPwdLogoDiv {
    width: 100%;
    height: 10%;
  }
  .ForgetPwdLogoDiv img{
    width: 20%;
    height: 100%;
  }
  
  .ForgetPwdContentDiv {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
  }
  .ForgetPwdContentDiv h1{
    font-size: 25px;
  }
  
  .ForgetPwdContentDivWrap{
    width: 90%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: #fff;
  }
  .ForgetPwdContentDivWrap h1{
    font-size: 40px;
  }
  .ForgetPwdContentDivWrap p{
    text-align: center;
    font-size: 14px;
    width: 80%;
  }
  
  .ForgetPwdContentInputs{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
  }
  
  .ForgetPwdContentInputs input{
    width: 90%;
    height: 35px;
    padding-left: 10px;
    border: 1px solid #3F51B5;
    border-radius: 5px;
    outline: none;
  }
  .ForgetPwdContentInputs input:active{
    border: 1px solid #3F51B5;
  }
  
  .ForgetPwdContentBtn {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .ForgetPwdContentBtn button{
    background: #3F51B5;
    width: 150px;
    height: 45px;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
  }
  .ForgetPwdContentBtn button:disabled{
    background: #8593d7;
    cursor: not-allowed;
  }
  
  .ForgetPwdBackDiv{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .ForgetPwdBackDiv button{
    background: #fff;
    width: 150px;
    height: 45px;
    border: 1px solid #3F51B5;
    border-radius: 5px;
    color: #3F51B5;
    font-size: 16px;
    cursor: pointer;
  }
  

}

/* End of Media Query Styling for Mobile Device */
/* Media Query Styling for Mobile Device */

@media only screen and (max-width: 351px) {


  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .ForgetPwdBody {
    width: 100%;
    height: 100vh;
    background: #f5f5f5;
    display: flex;
    justify-content: center;
    font-family: Verdana;
  }
  
  .ForgetPwdWrap {
    width: 90%;
    height: 100%;
  }
  
  .ForgetPwdLogoDiv {
    width: 100%;
    height: 10%;
  }
  .ForgetPwdLogoDiv img{
    width: 20%;
    height: 100%;
  }
  
  .ForgetPwdContentDiv {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
  }
  .ForgetPwdContentDiv h1{
    font-size: 20px;
  }
  
  .ForgetPwdContentDivWrap{
    width: 90%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: #fff;
  }
  .ForgetPwdContentDivWrap h1{
    font-size: 40px;
  }
  .ForgetPwdContentDivWrap p{
    text-align: center;
    font-size: 14px;
    width: 80%;
  }
  
  .ForgetPwdContentInputs{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
  }
  
  .ForgetPwdContentInputs input{
    width: 90%;
    height: 35px;
    padding-left: 10px;
    border: 1px solid #3F51B5;
    border-radius: 5px;
    outline: none;
  }
  .ForgetPwdContentInputs input:active{
    border: 1px solid #3F51B5;
  }
  
  .ForgetPwdContentBtn {
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .ForgetPwdContentBtn button{
    background: #3F51B5;
    width: 150px;
    height: 45px;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
  }
  .ForgetPwdContentBtn button:disabled{
    background: #8593d7;
    cursor: not-allowed;
  }
  
  .ForgetPwdBackDiv{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .ForgetPwdBackDiv button{
    background: #fff;
    width: 150px;
    height: 45px;
    border: 1px solid #3F51B5;
    border-radius: 5px;
    color: #3F51B5;
    font-size: 16px;
    cursor: pointer;
  }
  
  

}

/* End of Media Query Styling for Mobile Device */